<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/default.css">
    <title>Profile</title>
</head>
<body>
<header class="main_header mx-auto" th:include="fragments/header.html :: header"></header>
<div class="profile_window mx-auto">
    <div class="profile_image">
        <img th:src="${userpic}"/>
    </div>
    <!--    <a href="#">-->
    <!--        <svg class="bi" width="32" height="32" fill="currentColor">-->
    <!--            <use xlink:href="bootstrap-icons.svg#pencil-square"/>-->
    <!--        </svg>-->
    <!--    </a>-->
    <div class="profile_info">
        <h1 class="profile_name" th:text="${name}"/>
        <p class="profile_visit" th:text="'Был в сети: ' + ${lastvisit}"/>
        <p class="profile_mail" th:text="'Почтовый адрес: ' + ${email}"/>
        <p class="profile_locale" th:text="'Страна: ' + ${locale}"/>
        <p class="profile_gender" th:text="${gender}"/>
    </div>
</div>
<script src="/static/js/profile.js"></script>
</body>
</html>